/*
 * moggle.css
 *
 * Styles for an example from the Oxygen CSS book. For more info, see:
 *
 *     <http://oxygencss.com>
 *
 */


// Variables

@import "lib/colors";
@import "lib/fonts";


// Base styles

@import "lib/reset";

body {
  color: $text-color;
  font-family: $sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.4;
}

// Global modifiers

@import "modifiers/float";


// Objects

@import "objects/avatars";
@import "objects/blocknavs";
@import "objects/buttons";
@import "objects/rows";
@import "objects/textboxes";


// Layout

@import "objects/site";
