@import "lib/colors";
@import "lib/fonts";


// Base styles

@import "lib/reset";

body {
  background: $background-color;
  color: $text-color;
  font-family: $sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

// Global modifiers
 
@import "modifiers/float";


// Objects

@import "objects/_blocknavs.scss";
@import "objects/_buttons.scss";
@import "objects/_rows.scss";
@import "objects/_textboxes.scss";

@import "objects/_site.scss";
