.blocknav {
  display: flex;
}

.blocknav-item {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
  line-height: 32px;

  &:focus, &:hover {
    color: $loud-color;
  }

  &:hover {
    text-decoration: underline;
  }
}
