.site {
  display: flex;
  flex-direction: column;

  background: $background-color;
  min-height: 100vh;
}

.site-header {
  padding: 0 10px;
}

.site-search {
  flex: 1;

  padding-top: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.site-footer {
  background: darken($background-color, 5%);

  padding: 0 10px;
}
