.textbox {
  background: white;
  border-top-color: #bbb;
  border-radius: 4px;
  box-shadow: #bcbec0 0 2px 0;
  font-size: 18px;
  padding: 8px 12px 7px;

  &.full-width {
    width: 100%;
  }

  &:focus {
    box-shadow: darken(#bcbec0, 15%) 0 2px 0;
  }
}
